.meet_our_team{
    padding-top: 120px;
}
.our_team_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    gap: 36px;
}

.our_team_item{
    padding: 277px 13px 20px 13px;
    width: 267px;
    position: relative;
    border: 1px solid #eeeff1;
border-radius: 10px;
box-shadow: 0 4px 120px 0 rgba(0, 0, 0, 0.05);
background: linear-gradient(138deg, rgba(254, 254, 254, 0) 0%, #f9f9f9 0.01%, rgba(254, 254, 254, 0.51) 100%);
}

.our_team_title{
font-weight: 700;
font-size: 40px;
color: #3d3d3f;
margin-bottom: 44px;
text-align: center;
}
.our_team_sub_title{
font-weight: 500;
font-size: 18px;
line-height: 167%;
text-align: center;
color: #3d3d3f;
}
.our_team_sub_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    color: #999;
    margin-bottom: 17px;
}
.our_team_main_img{
    position: absolute;
    top: 0;
//     width: 241px;
// height: 249px;
}
.our_team_media_list{
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
}