.offer{
    padding-top: 50px;
}
.offer_title{
font-weight: 700;
font-size: 40px;
color: #3d3d3f;
text-align: center;
margin-bottom: 85px;
}
.offer_item{
    width: 356px;
    padding: 45px 17px 39px 62px ;
    box-shadow: 0 4px 22px 0 rgba(95, 95, 95, 0.05);
background: #fff;
border-radius: 23px;
position: relative;
}
.offer_sub_title{
font-weight: 700;
font-size: 24px;
color: #3d3d3f;
text-align: center;
margin-bottom: 10px;
}
.offer_sub_text{
    margin-bottom: 27px;
font-weight: 400;
font-size: 16px;
line-height: 162%;
text-align: center;
color: #595959;
}
.offer_btn{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 65%;
    right: 50%;
    transform: translate(50%, 50%);
}
.top_img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 2px;
}
.offer_list{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
}